Repository atom/atom, pull requests merged in 2019-08, with the labels that each got.

#19735 Use class colors for inherited classes in One syntax themes
  packages/one-dark-syntax/styles/syntax/_base.less
  packages/one-light-syntax/styles/syntax/_base.less
Labels: packages/one-dark-syntax, packages/one-light-syntax

#19772 ➡ Migrate core package 'welcome' into ./packages
  package-lock.json
  package.json
  packages/README.md
  packages/welcome/.gitignore
  packages/welcome/LICENSE.md
  packages/welcome/README.md
  packages/welcome/assets/code.svg
  packages/welcome/assets/package.svg
  packages/welcome/assets/project.svg
  packages/welcome/assets/shortcut.svg
  packages/welcome/assets/theme.svg
  packages/welcome/docs/events.md
  packages/welcome/lib/consent-view.js
  packages/welcome/lib/guide-view.js
  packages/welcome/lib/main.js
  packages/welcome/lib/reporter-proxy.js
  packages/welcome/lib/welcome-package.js
  packages/welcome/lib/welcome-view.js
  packages/welcome/menus/welcome.cson
  packages/welcome/package-lock.json
  packages/welcome/package.json
  packages/welcome/styles/welcome.less
  packages/welcome/test/helpers.js
  packages/welcome/test/welcome.test.js
Labels: packages/welcome

#19779 ➡ Migrate core package 'update-package-dependencies' into ./packages
  package-lock.json
  package.json
  packages/README.md
  packages/update-package-dependencies/.gitignore
  packages/update-package-dependencies/LICENSE.md
  packages/update-package-dependencies/README.md
  packages/update-package-dependencies/lib/update-package-dependencies-status-view.js
  packages/update-package-dependencies/lib/update-package-dependencies.js
  packages/update-package-dependencies/package.json
  packages/update-package-dependencies/spec/update-package-dependencies-spec.js
  packages/update-package-dependencies/styles/update-package-dependencies.less
Labels: packages/update-package-dependencies
